*{
padding: 			0; 
margin: 			0;
box-sizing:			border-box;
}
html {
	min-height:				700px;
	min-width:				700px;
	font-size:				15px;
	
	font-family:			"Arial", sans-serif;
	color:					black;
	--main-color:			rgb(200,255,255);
	--main-bg-color:		lightyellow;
	--elem-color:			green;
	--hover-color:			blue;
	--main-text-color:		green;
	--input-bg-color:		white;
	--a-bg-color:			black;
	--main-width:			46rem;
	--holder-color:			rgb(150,150,150);
	--calendar-color:		black;
	--calendar-hover:		lightgray;
	--calendar-num:			lightgray;
	--calendar-border:		blue;
	--calendar-today:		red;
	--calendar-weekend:		red;
	--calendar-event:		lightgreen;
}
#main {
	height:					100vh;
	width:					var(--main-width);
	margin-left:			calc((100vw - var(--main-width))/2.0);
	display:				flex;
	flex-direction: 		column;		
	border-left:			0.4rem solid var(--main-color);
	border-right:			0.4rem solid var(--main-color);	
}

#top, #center, #bottom {
	padding:				0.5rem;	
}

.academy {
	text-decoration: 		none;	
	color:					var(--main-text-color);
	
}

#top, #bottom {
	background-color:		var(--main-color);
	color:					var(--main-text-color);
}

#top {	
	flex: 				0 0 4rem;
	font-size:			2rem;
	font-weight:		bold;
	display:			flex;
	align-items: 		center;
	justify-content: 	space-between;
}
#caption, #center {
	background-color:	var(--main-bg-color);
}

#caption {
	flex: 				0 0 4rem;
	font-size:			2rem;
	font-weight:		bold;
	display:			flex;
	align-items: 		center;
    justify-content: 	center;	
	text-align:			center;
}
#center {	
	flex:				1 1 auto;
	overflow-y:			auto;
}
#bottom  {
	flex: 				0 0 2rem;
	display:			flex;
	align-items: 		center;
}
#logo {
	height:					3rem;
	display: 				block;		
}
.start_main {
	height:					100%;
	display:				flex;
	flex-direction: 		column;	
	justify-content: 		space-evenly;
    align-items: 			center;	
	font-size:				1.2rem;
	padding:				0.5rem;
}



.my_a, .my_input, .my_div {
	width:					90%;
	height:					4rem;
	border-radius:			2rem;
	font-size:				2rem;
	display:				flex;
	align-items: 			center;
    justify-content: 		center;	
	text-decoration: 		none;	
	text-align:				center;
}
.my_a:hover { 
	background-color:		var(--hover-color);
	cursor: 				pointer;
}
.my_input:hover {
	cursor: 				pointer;
}
.my_a, .my_div {
	background-color:		var(--elem-color);	
	color:					var(--input-bg-color);
	border:					0;

}
.my_input {
	background-color:		var(--input-bg-color);	
	border:					0.2rem solid var(--elem-color);
	outline: 				none;	
			
}

.my_input::-moz-placeholder {
	color:					var(--holder-color);
}
.my_input::-webkit-input-placeholder {
	color:					var(--holder-color);
}

.list {
	font-size:				1.5rem;
	overflow-y:				auto;
	margin-bottom:			2rem;
	width:					100%;	
	height:					90%;
}

.table {
	font-size:				1.5rem;
	overflow-y:				auto;
	margin-bottom:			2rem;
	width:					100%;	
	//height:					70%;
}

.list_name {
	font-size:				1.2rem;
	padding-bottom:			1.5rem;

}

ul {
	margin-left:			3rem;
}

li {
	margin-bottom:			0.7rem;
}

.li_name {
	text-decoration: 		none;
	color:					var(--a-bg-color);
}

.li_name:hover { 
	color:					blue;
	cursor: 				pointer;
}

th, td {
	font-size:				1.5rem;
	padding:				0.2rem;
}

.row_div {
	width:				100%;
	display:			flex;
	flex-direction:		row;
	font-size:			2rem;
    align-items: 		center;
	justify-content: 	space-evenly;
	
}

.info_div {
	width:				90%;
	font-size:			1.5rem;
    align-items: 		left;
}


.three_in_row {
	width:				30%;
}
.two_in_row {
	width:				45%;
}

#photo {
	width:				12rem;
	height:				12rem;
	display: 			block;
	border:				0.2rem solid blue;
	margin-bottom:		0.5rem;
	object-fit:			cover;
}


.div_center {
	display:			flex;
	flex-direction:		column;
	margin-right:		2rem;
	align-items: 		center;
}

.small {
	height:					3rem;
	font-size:				1.5rem;	
}

.marks {
	height:					2rem;
	font-size:				1.2rem;
	width:					15rem;
}

.circle {
	height:					2.4rem;
	width:					2.4rem;
	border-radius:			50%;
	background-color:		var(--elem-color);	
	color:					var(--input-bg-color);				
	font-size:				1.5rem;
	font-weight:			bold;
	padding:				0;
}
#file {
	position:				fixed;
	top:					-100rem;
	opacity:				0; 
}





.calendar_head {
	width:				100%;
	display:			flex;
	flex-direction:		row;
	justify-content: 	space-between;
    align-items: 		center;
	font-size:			1.5rem;
	padding:			0.5rem;
	border:				none;
	
	
}
.arrow {	
	width:				1rem;
	height:				2rem;
	overflow:			hidden;
}

.arrow_left, .arrow_right  {
	width:				2rem;
	height:				2rem;
	background-color:	var(--calendar-color);
}
.arrow_left  {
	transform-origin:	left top;
	transform: 			translateY(50%) rotate(-45deg);	
}
.arrow_right {
	transform-origin:	right top;
	transform: 			translate(-50%, 50%) rotate(45deg);	
}
.arrow_left:hover, .arrow_right:hover  {
	background-color:	var(--calendar-hover);
	cursor: 			pointer;
}

.calendar_num, .calendar_date, .calendar_days, .row_table {
	width:				5rem;
	font-weight:		bold;
	font-size:			1.2rem;
	padding:			0.5rem;
	border:				0.1rem solid var(--calendar-border);
	text-align:			center;
}

.calendar_num {
	color:				var(--calendar-num);	
}

.calendar_info {
	font-size:			1rem;

}

.calendar_date, .calendar_days {	
	color:				var(--calendar-color);	
}

.row_table {
	font-weight:		normal;
}

.calendar_weekend {
	color:				var(--calendar-weekend);
}
.calendar_today {
	padding:			0.3rem;
	border:				0.3rem solid var(--calendar-today);
}


.calendar_date:hover {
	cursor: 			pointer;
}



.calendar_events {
	background-color:	var(--calendar-event);
}

#calender_info {
	width:				100%;
	height:				5rem;
	overflow-y:			auto;
	text-align:			left;
	font-size:			1rem;
	font-weight:		normal;
	color:				var(--calendar-color);
}

.between {
	justify-content: 	space-between;
}

.error_message, .text_red {
	color:					red;
}

.bg_red {
	background-color:		red;
}

select {
	-moz-appearance: 		none;
	-webkit-appearance: 	none;	
}

select:invalid {
	color:					var(--holder-color);
}

.bold {
	font-weight:			bold;
}
.normal {
	font-weight:			normal;
}
.center {
	display:				flex;
	justify-content: 		center
}

