{% extends "main.html" %}
{% block caption %}
	Календарь
{% endblock caption %}
{% block main %}
	<table>
		<tr id="property">				
			<th colspan="5">
				<div class="back">
					<div class="arrow">
						<div id="monLeft" class="arrow_left" onclick="click_arrow(event)"></div>
					</div>
					{{ month.1 }}
					<div class="arrow">
						<div id="monRight" class="arrow_right" onclick="click_arrow(event)"></div>
					</div>	
				</div>
			</th>				
			<th colspan="3">
				<div class="back" >
					<div class="arrow">
						<div id="yeaLeft" class="arrow_left" onclick="click_arrow(event)"></div>
					</div>
					{{ year }}
					<div class="arrow">
						<div id="yeaRight" class="arrow_right" onclick="click_arrow(event)"></div>
					</div>	
				</div>
			</th>
		</tr>		
		<tr>
			{% for w in daysofweek %}
				<th class='cell calendar_head'> {{w}}</th>
			{% endfor %}
		</tr>
		{% for w in days%}
			<tr>
				<th class='cell calendar_head'>{{ w.0 }}</th>
				{% for d in w.1%}
					{% if d.0 == "0" %}
						<th class="cell calendar_date"></th>
					{% else %}
						<th class="{{d.1}}" id='{{"day"|add:d.0}}' data-info="{{d.2}}" onclick="click_calendar(event)"> 
							{{ d.0 }} 
						</th>							
					{% endif %}
				{% endfor %}
			</tr>				
		{% endfor %}	
	</table>
	<div id="calender_info">						
		Для подробной информации, нажмите на дату
	</div> 
	<a class="a_button small two_in_row" href="{{back}}"> Назад </a>
{% endblock main %}



