{% extends "main.html" %}
{% load static %}
{% block caption %}
	Курсы и предметы обучения
{% endblock caption %}
{% block main %}
	<div class="list_div">	
		<ul class="list_first">	
		{% for key, el in data.items %}
			<li><b>{{key}}</b></li>
				<ul class="list_second">
					{% for k, e in el.items %}
						<li><i>Курс "{{k}}"</i></li>
						<ul class="list_third">
							{% for k1, e1 in e.items %}
								<li> {{e1}} </li>
							{% endfor %}
						</ul>
					{% endfor %}
				</ul>					
		{% endfor%}
		</ul>
	</div>
	<div class="back">
		<a class="a_button" href="/"> На главную страницу </a>
	</div>
{% endblock main %}