{% extends "main.html" %}
{% load static %}
{% block caption %}
	Структура Академии
{% endblock caption %}
{% block main %}
	<div class="list_div">
		<ul class="list_first">
		{% for key, el in data.items %}
				<li><b>{{key}}</b></li>
				<ul class="list_second">
					{% for k, e in el.items %}
						<li><i>{{k}}</i></li>
						<ul class="list_third">
							{% for k1, e1 in e.items %}										
								<li> 
									<a class="a_text" href={{"/info/"|add:k1}}>{{e1}}</a>
								</li>									
							{% endfor %}
						</ul>
					{% endfor %}
				</ul>						
		{% endfor%}
		</ul>
	</div>	
	<div class="back">
		<a class="a_button" href="/"> На главную страницу </a>
	</div>
{% endblock main %}