{% extends "main.html" %}
{% load static %}
{% block caption %}
	Группа "{{group}}", <br />
	предмет "{{subject}}"
{% endblock caption %}
{% block main %}
		<div class="table">
			<table>
				<tr><th colspan="3" class="cell">{{date}} в {{time}}</th></tr>
				<tr>
					<th class="cell"></th>
					<th class="cell">Студент</th>
					<th class="cell"><nobr>Оценка</nobr></th>
				</tr>				
				{% for key, el in data.items %}
					<tr>
						<td class="cell">{{forloop.counter}}</td>
						<td class="cell"><a class="a_text" href='{{"/info"|add:person|add:key}}'><nobr>{{el.0}}</nobr></a></td>
						<td class="cell">
							{%if el.1 %}
								{{el.1}}
							{% else %}								
								<select id='{{key}}' class="input_text mark">
									<option value="" selected>нет оценки</option>
									{%for k, m in marks.items %}
										<option value="{{k}}">{{m}}</option>
									{%endfor%}
								</select> 
							{% endif %}
						</td>
					</tr>
				{% endfor%}			
			</table>
		</div>
		<div class="back">
			<input type="button" class="a_button two_in_row small" value='OK' onclick="click_edit_marks()"/>
			<a class="a_button two_in_row small" href='{{back}}'> Назад </a>
		</div>
{% endblock main %}