{% extends "main.html" %}
{% load static %}
{% block caption %}
	{{lastname}}
	{% if patronymic %}
		<br /> {{firstname}} {{patronymic}}
	{%else%}
		{{firstname}}
	{% endif %}
{% endblock caption %}
{% block main %}

		<div class="table">
			<table>
				<tr>
					{% if subject %}
						<th colspan=2 class="cell"><nobr>Средняя оценка по предмету</nobr> <br />"{{subject}}"</th>
					{% else %}
						<th colspan=3 class="cell"><nobr>Средняя оценка </nobr><br /> <nobr>по всем предметам</nobr></th>
					{% endif %}
					<td class="cell">{{total}}</td>
				</tr>
				<tr>
					<th class="cell"></th>
					<th class="cell">Дата</th>
					{% if subject == "" %}
						<th class="cell"><nobr>Предмет</nobr></th>
					{% endif %}
					<th class="cell"><nobr>Оценка</nobr></th>
				</tr>				
				{% for el in data %}
					<tr>
						<td class="cell">{{forloop.counter}}</td>
						<td class="cell">{{el.0}}</td>
						{% if subject == "" %}
							<td class="cell"><nobr>{{el.1}}</nobr></td>
						{% endif %}
						<td class="cell">{{el.2}}</td>
					</tr>
				{% endfor%}			
			</table>

		
			
		</div>
		<div class="back">
			<a class="a_button two_in_row small" href='{{person}}'> Студент </a>
			<a class="a_button two_in_row small" href='{{back}}'> Назад </a>
		</div>
{% endblock main %}