{% extends "main.html" %}
{% load static %}
{% block caption %}
	{{group_subject}}
{% endblock caption %}
{% block main %}
	<div class="table">
		<table>
			<tr>
				<td class="cell"> Урок </td>	
				<td class="cell"> Дата </td>	
				<td class="cell"> Время </td>	
				<td class="cell"> Преподаватель </td>	
				<td></td>
			</tr>
			{%for k, el in lessons.items %}
				<tr id={{k}}>				
					<td class="cell">{{ forloop.counter}}</td>
					{%for i in el.1 %}	
						<td class="cell"><nobr>{{i}}</nobr></td>
					{%endfor%}
					<th>
						{% if el.0 == "was" %}						
							<div class="circle">&#x2713 </div>
						{% else %}
							<a class='{{"a_button circle "|add:el.0}}' 
									href='{{"/editschedule"|add:person|add:k}}'></a>								
						{% endif %}
					</th>							
				</tr>
			{% endfor %}				
		</table>		
	</div>		
	
	<div class="back">
		<a href= '{{"#"|add:anchor}}' class="a_button small two_in_row">К ближайшему уроку</a>
		<a class="a_button small two_in_row" href='{{back}}'> Назад </a>
	</div>
{% endblock main %}