{% extends "main.html" %}
{% load static %}
{% block caption %}
	Группа "{{group}}", <br />
	{% if subject %}
		предмет "{{subject}}"
	{% else %}
		 курс "{{course}}"
	{% endif %}
{% endblock caption %}
{% block main %}
		<div class="table">
			<table>
				<tr>
					<th colspan=2 class="cell"><nobr>Средняя оценка</nobr><br /> </nobr>по группе</nobr></th>					
					<th class="cell">{{total}}</th>
				</tr>
				<tr>
					<th class="cell"></th>
					<th class="cell">Студент</th>
					<th class="cell"><nobr>Средняя оценка</nobr></th>
				</tr>				
				{% for el in data %}
					<tr id="{{el.0}}" class="rows">
						<td class="cell">{{forloop.counter}}</td>
						<td id='n{{forloop.counter0|stringformat:"i"}}' class="cell"><nobr>
							<a class="a_text" href='{{person|add:el.0}}'> {{el.1}} </a>
						</nobr></td>
						<td id='m{{forloop.counter0|stringformat:"i"}}' class="cell">{{el.2}}</td>
					</tr>
				{% endfor%}			
			</table>
		</div>
		
		<div class="back">
			<input type="button" class="a_button three_in_row small" value='По фамилии' onclick="click_sort('fio')" />
			<input type="button" class="a_button three_in_row small" value='По оценке' onclick="click_sort('rng')"/>
			<a class="a_button three_in_row small" href='{{back}}'> Назад </a>
		</div>
	
{% endblock main %}