{% extends "main.html" %}
{% load static %}
{% block caption %}
	{% if department %}
		{{department}}
	{% else %}	
		Группа "{{group}}", <br /> курс "{{course}}",  	
	{% endif %}
{% endblock caption %}
{% block main %}
	<div class="div_row">
		{% if picture %}
			<img id="photo" src="{{picture}}" />
		{% else %}
			<img id="photo" src='{% static "pic/pic_"|add:gender|add:".png" %}' />	
		{% endif %}
		<table class="big">
			<tr><th>
			{% if status %}
				{{status}}
			{% else %}
				Группа "{{group}}"
			{% endif %}
			</th></tr>
			<tr><td>
				{{lastname}}<br/>
				{{firstname}}
				{% if patronymic %}
					<br/>{{patronymic}}
				{% endif %}
			</td></tr>
		</table>
	</div>
	<table>
		{% if full %}
			<tr>
				<th>День рождения:</th> 
				<td>{{birthday}}</td>
			</tr>
		{% endif %}
		<tr>
			<th>Телефон:</th>
			<td>{{phone}}</td>
		</tr>
		<tr>
			<th>Эл. почта:</th>
			<td>{{e_mail}}</td>
		</tr>
	</table>
	{% if full %}
		<div class="div_row">
			<label for="file" class="a_button small three_in_row"> Фото </label>
			<a class="a_button small three_in_row" href="{{'/changepassword/'|add:persons|add:'/'|add:id}}"> Идентификация </a>
			<a class="a_button small three_in_row" href="{{'/changeinfo/'|add:persons|add:'/'|add:id}}"> Личное </a>
			<input id="file" type="file" onchange="click_image(this)" accept=".jpg,.jpeg,.png" />
		</div>		
	{% endif %}	
	<div class="back">
		<a class="a_button" href={{back.0}}> {{back.1}} </a>			
	</div>
{% endblock main %}


