{% extends "main.html" %}
{% block caption %}
	Войти как ...
{% endblock caption %}
{% block main %}
	{% for el in abc %}
		<div class="back">
		{% for ch in el %}
			<input type="button" id="{{ch.1}}" value = "{{ch.0}}" onclick="click_abc(this)"
				{% if ch.1 == currentABC %}
					class="a_button abc bg_red"
				{% else %}
					class="a_button abc"
				{% endif %}
			/>
		{% endfor%}
		</div>				
	{% endfor %}
	<div class="back">
		{% for key, el in type.items %}
			<input type="button" id="{{key}}" value="{{el}}" onclick="click_abc(this)"
				{% if key == current %}
					class="a_button three_in_row small bg_red" 
				{% else %}
					class="a_button three_in_row small" 
				{% endif %}
			 />
		{% endfor%}
		<a class="a_button three_in_row small" href="/administrator"> Назад </a>		
	</div>
	</br>
	<div class="table">
		<table>
			<tr>
				<th class="cell"><nobr>Фамилия Имя Отчество</nobr></th>
				<th class="cell"><nobr>Отдел / Группа</nobr></th>
			</tr>	
			{% for key, el in data.items %}
				<tr>
					<td class="cell"><a id="{{key}}" class="a_text" onclick="click_go_person(this)">
						{{el.lastname}}<br/><nobr>{{el.firstname}}
						{% if el.patronymic %}
							{{el.patronymic}}
							{% endif %}
						</nobr></a></td>					
					<td class="cell"><nobr>
						{% if el.department %}
							{{el.department}} <br> <i>{{el.status|lower}}</i>
 						{% else %}
							Группа "{{el.group}}"
						{% endif %}
					</nobr></td>
				</tr>
			{% endfor %}
		</table>
	</div>	
{% endblock main %}