<!DOCTYPE html>
{% load static %}
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<link rel="shortcut icon" href={% static "pic/logo.png" %}>
		<link rel='stylesheet' href={% static "css/main.css" %} />
		<script src={% static "js/main.js" %}></script>
		<title>
			 
			{%if title_person %}
				Солнышко: {{title_person.name}}
			{% else %}
				Солнышко
			{% endif %}
		</title>		
	</head>
	<body>
		<div id="main">
			<div id="top">
				<img id="logo" src={% static "pic/logo.png" %} />
				<div>
					{% if title_person and title_person.id != "-1"%}						
						<a class="a_main" href='{{"/work/"|add:title_person.tp|add:"/"|add:title_person.id}}'>
					{% elif title_person.id == "-1" %}
						<a class="a_main" href="/administrator">
					{% else %}
						<a class="a_main" href='/'>
					{% endif %}
					Академия "Солнышко"</a>
				</div>
				<img id="logo" src={% static "pic/logo.png" %} />
			</div>
			<div id="caption">
				{% block caption %}
				{% endblock caption %}
			</div>
			<div id="center">	
				{% csrf_token %}
				{% block main %}
				{% endblock main %}
			</div>
			<div id="bottom">
			<a class="a_main" href="/"> Обновлено {% now "d.m.Y" %} в {% now "H:i:s" %} </a>
			</div>
		</div>
	</body>
</html>
