{% extends "main.html" %}
{% load static %}
{% block caption %}
	Мои предметы и группы
{% endblock caption %}
{% block main %}

		<div class="list_div">
			<ul class="list_second">
			{% for key, el in data.items %}				
					<li> 					
					<i> Предмет "{{el.0}}"</i>				
					</li>
					<ul class="list_third">
						{% for k, e in el.1.items %}
							<li id='{{k|add:"_"|add:key}}'>
								<a class="a_text" href='{{"/setmarks"|add:person|add:k|add:"/"|add:key}}'>
									Группа "{{e.0}}", курс "{{e.1}}"								
								</a>
							</li>							
 						{% endfor %}
					</ul>
							
			{% endfor%}
			</ul>
		</div>	
	<div class="back">
		<a class="a_button" href='{{back}}'> Назад </a>
	</div>
{% endblock main %}