{% extends "main.html" %}
{% load static %}
{% block caption %}
	Студенты и предметы
{% endblock caption %}
{% block main %}
	<div class="list_div">	
		<ul class="list_second">
		{% for key, el in data.items %}				
				<li id="{{key}}"> 					
				<i><a class="a_text" href='{{"/marksgroup"|add:person|add:key}}'> Группа "{{el.0}}", курс "{{ el.1}}" </a></i>				
				</li>
				<ul class="list_third">
					{% for k, e in el.2.items %}
						<li id='{{key|add:"_"|add:k}}'>
							<a class="a_text" href='{{"/markssubject"|add:person|add:key|add:"/"|add:k}}'>
								{{e.0}}								
							</a>
						</li>							
					{% endfor %}
				</ul>
						
		{% endfor%}
		</ul>
	</div>	
	<div class="back">
		<a class="a_button" href='{{back}}'> Назад </a>
	</div>
{% endblock main %}