{% extends "main.html" %}
{% load static %}
{% block caption %}
	Студенты и предметы
{% endblock caption %}
{% block main %}
	<div class="start_main">
		{% csrf_token %}
		<div class="list">			
			{% for key, el in data.items %}
				<ul>
					<li> 					
					<i><a class="li_name" href='{{"/marks_group/"|add:person|add:"/"|add:key}}'> Группа "{{el.0}}", курс "{{ el.1}}" </a></i>				
					</li>
					<ul class="list_name">
						{% for k, e in el.2.items %}
							<li>
								<a class="li_name" href='{{"/marks_subject/"|add:person|add:"/"|add:key|add:"/"|add:k}}'>
									{{e.0}}								
								</a>
							</li>							
 						{% endfor %}
					</ul>
				</ul>			
			{% endfor%}
		</div>		
		<a class="my_a" href='{{"/work/"|add:person}}'> Назад </a>
	</div>
{% endblock main %}