{% extends "main.html" %}
{% load static %}
{% block caption %}
	{{group_subject}}
{% endblock caption %}
{% block main %}
	<div class="table">
		<table>
			<tr>
				<th class="cell"> Урок </th>	
				<th class="cell"> Дата </th>	
				<th class="cell"> Время </th>	
				<th></th>
			</tr>
			{%for k, el in lessons.items %}
				{% if el.2 == id %}
					<tr id={{k}}>				
						<td class="cell">{{ forloop.counter}}</td>
						{%for i in el.1 %}	
							<td class="cell"><nobr>{{i}}</nobr></td>
						{%endfor%}
						<th>
							{% if el.0 == "was" %}						
								<a class="a_button circle" href='{{"/editmarks"|add:person|add:k}}'></a>
							{% else %}
								<div class="circle">&#x2014 </div>																
							{% endif %}
						</th>							
					</tr>
				{% endif %}
			{% endfor %}				
		</table>		
	</div>		
	
	<div class="back">
		<a href= '{{"#"|add:anchor}}' class="a_button small two_in_row">К ближайшему уроку</a>
		<a class="a_button small two_in_row" href='{{back}}'> Назад </a>
	</div>
{% endblock main %}