{% extends "main.html" %}
{% load static %}
{% block caption %}
	{{group_subject}}
{% endblock caption %}
{% block main %}
	<div class="start_main">
		{% csrf_token %}	
		<div class="table center">
			<table>
				<tr>
					<td class="calendar_days"> Урок </td>	
					<td class="calendar_days"> Дата </td>	
					<td class="calendar_days"> Время </td>	
					<td></td>
				</tr>
				{%for k, el in lessons.items %}
					{% if el.2 == id %}
						<tr id={{k}}>				
							<td class="calendar_days normal">{{ forloop.counter}}</td>
							{%for i in el.1 %}	
								<td class="calendar_days normal"><nobr>{{i}}</nobr></td>
							{%endfor%}
							<td>
								{% if el.0 == "was" %}						
									<a class="my_a circle" href='{{"/editmarks"|add:person|add:k}}'></a>
								{% else %}
									<div class="my_div circle">&#x2014 </div>																
								{% endif %}
							</td>							
						</tr>
					{% endif %}
				{% endfor %}				
			</table>		
		</div>		
		
		<div class="row_div">
			<a href= '{{"#"|add:anchor}}' class="my_a small two_in_row">К ближайшему уроку</a>
			<a class="my_a small two_in_row" href='{{back}}'> Назад </a>
		</div>
	</div>	
		
{% endblock main %}