{% extends "work.html" %}
{% block work %}
	<a class="my_a" href='{{"/groups/"|add:persons|add:"/"|add:id}}'> Группы и предметы </a>
	<a class="my_a" href='{{"/calendardepartment/"|add:persons|add:"/"|add:id|add:"/"|add:today}}'> Расписание факультета</a>
	<a class="my_a" href='{{"/calendar/"|add:persons|add:"/"|add:id|add:"/"|add:today}}'> Моё расписание </a>
	<a class="my_a" href='{{"/progress/"|add:persons|add:"/"|add:id}}'> Студенты и предметы </a>
	<a class="my_a" href='{{"/marks/"|add:persons|add:"/"|add:id}}'> Мои студенты </a>
{% endblock work %}

