{% extends "work.html" %}
{% block work %}
	<a class="a_button" href='{{"/groups/"|add:persons|add:"/"|add:id}}'> Группы и предметы </a>
	<a class="a_button" href='{{"/calendardepartment/"|add:persons|add:"/"|add:id|add:"/"|add:today}}'> Расписание факультета</a>
	<a class="a_button" href='{{"/calendar/"|add:persons|add:"/"|add:id|add:"/"|add:today}}'> Моё расписание </a>
	<a class="a_button" href='{{"/progress/"|add:persons|add:"/"|add:id}}'> Студенты и предметы </a>
	<a class="a_button" href='{{"/marks/"|add:persons|add:"/"|add:id}}'> Мои студенты </a>
	<a class="a_button" href='{{"/coworkers/"|add:persons|add:"/"|add:id}}'> Мои коллеги </a>
{% endblock work %}

