*{
padding: 			0; 
margin: 			0;
box-sizing:			border-box; 
}

html {
	min-height:				700px;
	min-width:				700px;
	font-size:				15px;	
	font-family:			"Arial", sans-serif;
	color:					black;
	--main-color:			rgb(200,255,255);
	--main-bg-color:		lightyellow;
	--elem-color:			green;
	--hover-color:			blue;
	--main-text-color:		green;
	--input-bg-color:		white;
	--a-bg-color:			black;
	--main-width:			46rem;
	--holder-color:			rgb(150,150,150);
	--calendar-color:		black;
	--calendar-hover:		lightgray;
	--calendar-num:			lightgray;
	--calendar-border:		blue;
	--calendar-today:		red;
	--calendar-weekend:		red;
	--calendar-event:		lightgreen;
}
body {
	min-height:				700px;
	min-width:				700px;
	
}
#main {
	height:					100vh;
	width:					var(--main-width);
	margin-left:			calc((100vw - var(--main-width))/2.0);
	display:				flex;
	flex-direction: 		column;		
	background-color:		var(--main-color)
}

#top, #center, #bottom, #caption {
	margin-left:				0.5rem;
	margin-right:				0.5rem;		
}

#top, #bottom {
	color:					var(--main-text-color);
}
#top {	
	flex: 				0 0 4rem;
	font-size:			2rem;
	font-weight:		bold;
	display:			flex;
	align-items: 		center;
	justify-content: 	space-between;
}
#bottom  {
	flex: 				0 0 2rem;
	display:			flex;
	align-items: 		center;
}
#caption, #center {
	background-color:	var(--main-bg-color);
}

#caption {
	flex: 				0 0 4rem;
	font-size:			2rem;
	font-weight:		bold;
	display:			flex;
	align-items: 		center;
    justify-content: 	center;	
	text-align:			center;
}
#center {	
	flex:					1 1 auto;
	display:				flex;
	flex-direction: 		column;	
	justify-content: 		space-evenly;
    align-items: 			center;
	padding:				1rem;
}
#logo {
	height:					3rem;
	display: 				block;		
}
.a_main {
	text-decoration: 		none;	
	color:					var(--main-text-color);	
}
.a_button, .input_text  {
	width:					100%;
	height:					4rem;
	border-radius:			2rem;
	font-size:				2rem;
	display:				flex;
	align-items: 			center;
    justify-content: 		center;
}

.a_button {
	border:					0;
	text-decoration: 		none;
	background-color:		var(--elem-color);	
	color:					var(--input-bg-color);	
}
.a_button:hover { 
	background-color:		var(--hover-color);
	cursor: 				pointer;
}
.a_text {
	text-decoration: 		none;
	color:					var(--a-bg-color);
}
.a_text:hover { 
	color:					blue;
	cursor: 				pointer;
}

.circle, .abc {
	font-size:				1.5rem;
	text-align:				center;	
	border-radius:			50%;				
	background-color:		var(--elem-color);	
	color:					var(--input-bg-color);
}
.circle {
	height:					2rem;
	width:					2rem;
}
.abc {
	height:					3rem;
	width:					3rem;
}




.input_text {	
	text-align:				center;
	background-color:		var(--input-bg-color);	
	border:					0.2rem solid var(--elem-color);
	outline: 				none;	
	
}
.input_text:hover {
	cursor: 				pointer;
}
.input_text::-moz-placeholder {
	color:					var(--holder-color);
}
.input_text::-webkit-input-placeholder {
	color:					var(--holder-color);
}

/*------------------------------------------------------------------------------*/

.div_row, .back {
	flex: 					0 0 auto;
	width:					100%;
	display:				flex;
	flex-direction:			row;
	align-items: 			center;
	justify-content: 		space-evenly
}
.back {
	margin-top:				1rem;
	justify-content: 		space-between
}

.three_in_row {
	width:				32%;
}

.two_in_row {
	width:				48%;
}

.small {
	height:					3rem;
	font-size:				1.5rem;	
}

.time {
	height:					2rem;
	width:					4rem;
	font-size:				1rem;	
}

.mark {
	height:					2rem;
	width:					12rem;
	font-size:				1rem;	
}

/*------------------------------------------------------------------------------*/
.list_div {
	flex: 					1 1 10rem;
	overflow-y:				auto;
	width:					100%;
}
.list_first {
	font-size:				1.5rem;
}
.list_second {
	font-size:				1.2rem;

}
.list_third {
	font-size:				1.2rem;
}
ul {
	margin-left:			3rem;
}
li {
	margin-bottom:			0.7rem;
}

/*------------------------------------------------------------------------------*/
#photo {
	width:				12rem;
	height:				12rem;
	display: 			block;
	border:				0.2rem solid blue;
	margin-bottom:		0.5rem;
	object-fit:			cover;
}
#file {
	position:				fixed;
	top:					-100rem;
	opacity:				0; 
}

/*------------------------------------------------------------------------------*/

table {
	font-size:				1.2rem;
}

th, td {
	padding:				0.3rem;
}

.big {
	font-size:				2rem;
}

.table {
	flex: 					1 1 10rem;
	overflow-y:				auto;
	width:					100%;	
	display:				flex;
	justify-content: 		center;
	align-items: 			flex-start;
}

.cell {
	height:				3rem;
	border:				0.2rem solid var(--calendar-border);
	text-align:			center;
}


/*------------------------------------------------------------------------------*/


.arrow {	
	width:				1rem;
	height:				2rem;
	overflow:			hidden;
}

.arrow_left, .arrow_right  {
	width:				2rem;
	height:				2rem;
	background-color:	var(--calendar-color);
}
.arrow_left  {
	transform-origin:	left top;
	transform: 			translateY(50%) rotate(-45deg);	
}
.arrow_right {
	transform-origin:	right top;
	transform: 			translate(-50%, 50%) rotate(45deg);	
}
.arrow_left:hover, .arrow_right:hover  {
	background-color:	var(--calendar-hover);
	cursor: 			pointer;
}

.calendar_head {
	height:				2rem;
	width:				2rem;
	color:				var(--calendar-num);
	
	
}

.calendar_date {	
	color:				var(--calendar-color);	
	height:				3.2rem;
	width:				4rem;
}

.calendar_date:hover {
	cursor: 			pointer;
}
.calendar_weekend {
	color:				var(--calendar-weekend);
}
.calendar_today {
	border:				0.4rem solid var(--calendar-today);
}

.calendar_events {
	background-color:	var(--calendar-event);
}

.calendar_info {
	font-size:			1rem;
	padding:			0;
	padding-left:		0.5rem;
	color:				var(--calendar-color);

}

#calender_info {
	flex: 				1 1 2rem;
	width:				70%;
	margin:				1rem;
	overflow-y:			auto;
	text-align:			center;
	font-size:			1rem;
	color:				var(--calendar-border);
}


/*------------------------------------------------------------------------------*/

select {
	-moz-appearance: 		none;
	-webkit-appearance: 	none;	
}

select:invalid {
	color:					var(--holder-color);
}

.error_message {
	color:					red;
}
.bg_red {
	background-color:		red;
}



/*------------------------------------------------------------------------------*/


